$white: #fff;
// 主题颜色
$primary-color: #bf392b;
$primary-hover-color: #cc6155;
// 主要文本颜色
$text-primary-color: #303133;
// 次级文本颜色
$routine-text-color: #606266;
// 三级文本颜色
$secondary-text-color: #909399;
// 占位文本颜色
$placeholder-text-color: #C0C4CC;