* {
    color: $text-primary-color;
}

.ml-4 {
    margin-left: 4px !important;
}

.lh-40 {
    line-height: 40px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.pd-l-20 {
    padding-left: 20px !important;
}